<p class='text-sm font-medium mt-6 text-gray-900'>Your report has been successfully generated!  </p>
<a href="/<%= current_user.account.id %>/account/export.csv" class="btn-inline-blue ">Click here to download</a>
