<li>
  <a href="<%= contact_timeline_index_path(contact) %>" class="  " >
    <span role="img" class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-gray-500" title="<%= contact.decorate.display_name %>">
      <span class="text-xl font-medium leading-none text-white"> <%= display_image(contact) %>
      </span>
    </span>
  </a>
</li>
