<div class="">
<a href="<%= contact_about_index_path(favorite)%>" class=" text-gray-900 hover:underline">
<span class="inline-flex items-center justify-center h-8 w-8  rounded-full bg-gray-500">
  <span class="text-sm font-medium leading-none text-white "><%=display_image(favorite)%></span>
</span>
 <p class="text-sm mt-2"><%=favorite.decorate.display_name%></span>
</a>
</div>
