<% if leaders.count > 0 %>
  <section aria-labelledby="leaderboard_section">
    <div class="overflow-hidden bg-white  pb-4">
      <div class="flex flex-wrap ">
        <p class=" text-md font-bold text-gray-900 truncate"><%= title %></p>
      </div>
      <div class=" flex   bg-white font-sans py-2   w-full">
        <ul role="list" id="side-menu">
          <%= render partial: "name", collection: leaders, as: :contact, cached: true %>
        </ul>
      </div>
    </div>
  </section>
<% end %>
