<% if leaders.count > 0 %>
  <section aria-labelledby="leaderboard_section">
    <div class="overflow-hidden bg-white px-6">
      <div class="flex flex-wrap ">
        <p class=" text-sm font-medium text-gray-900 truncate"><%= title %></p>
      </div>
      <div class=" flex   bg-white font-sans py-4   w-full">
        <ul role="list" class="" style="grid-template-columns: repeat(10, 40px); gap: 1rem;  display: grid;" id="side-menu">
          <%= render partial: "contact", collection: leaders, as: :contact, cached: true %>
        </ul>
      </div>
    </div>
  </section>
<% end %>
