<li>
  <a href="<%= contact_timeline_index_path(contact) %>" class="  " >
    <span role="img" class="text-sm text-gray-700 font-medium text-gray-900 hover:underline hover:text-indigo-700">
      <%= contact.decorate.display_name %>
    </span>
  </a>
</li>
