 <turbo-frame id="reminders">
  <% if @upcoming_reminders.size > 0 %>
    <div class=" w-full  ">
      <ol class=" divide-gray-200 text-sm leading-6 text-gray-500">
        <% reminders = @upcoming_reminders %>
        <% if !reminders.nil? %>
          <% reminders.each do |reminder| %>
            <% contact = reminder.second %>
            <% remind = reminder.first %>
            <li class="flex">
              <div class="flex mt-2 space-x-3">
                <div>
                  <div class="mt-1 text-sm text-gray-700">
                    <p class="flex">

                      <span class="flex  -mt-1">
                        <a href="<%= contact_reminders_path(contact) %>" class="text-sm text-gray-700 font-medium text-gray-900 hover:underline hover:text-indigo-700" target="_top">
                          <%= contact.decorate.display_name %>
                        </a>
                        <span  class="ml-2 flex-1 block mr-0.5" target="_top">
                          <%= reminder.first["title"].upcase_first %>
                        </span>
                        <span>

                        </p>
                      </div>
                      <div class="space-x-2 text-sm inline-flex">
                        <span class="text-xs font-normal text-gray-500">Event Date: <%= display_date(reminder.third[:reminder]) %></span>

                      </div>
                    </div>
                  </div>
                </li>

              <% end %>
            <% end %>
          </ol>
        </div>
      <% else %>
        <p class="text-xs font-normal text-gray-500 mt-2 ">No reminders added</dd>
      <% end %>
    </turbo-frame>
