<tr id="<%= dom_id batch %>">

  <td class="table-cell w-full">
    <div class="text-sm">
      <a href="#" class="block hover:underline" target="_top" data-controller="counter"
  data-action="click->counter#increment" data-batch-id="<%=batch.id%>" >
        <%= batch.name.upcase_first %>
      </div>
    </td>
    <td class="table-cell">
        <% if policy([contact, batch]).destroy? %>
          <%= delete_button("/#{current_user.account.id}/contacts/#{contact.id}/batches/#{batch.id}") %>
        <% end %>
      </div>
    </td>
  </tr>
