<p>Dear <%= @user.decorate.display_name %>!</p>
<p> Reminders for today:</p>
<ul class="space-y-1">
  <% @reminders.each do |reminder| %>
    <li class="">
      <% @contact = reminder.second %>
      <p class=" ml-3 text-sm font-thin text-gray-900 truncate inline-flex"><%= link_to @contact.decorate.display_name, contact_reminders_url(@contact.id, script_name: "/#{@user.account.id}") %> -  <%= reminder.first["title"].upcase_first %></p>
    </li>
  <% end %>
</ul>
