<p>Dear <%= @user.decorate.display_name %>!</p>
<p> Reminders for the day:</p>
<ul class="space-y-1">
  <% @reminders.each do |reminder| %>
    <li class="">
      <% @contact = reminder.second %>
      <p class="ml-3 text-sm  inline-flex text-gray-700"><%= reminder.third[:reminder] %> </p>
      <%= link_to @contact.decorate.display_name, contact_reminders_url(@contact.id, script_name: "/#{@user.account.id}") %>
      <p class=" ml-3 text-sm font-thin text-gray-900 truncate inline-flex"><%= reminder.first["title"].upcase_first %></p>
    </li>
  <% end %>
</ul>
