<% @contacts.each do |contact| %>
  <li role="option"  id="add" data-reflex="click->ContactRelation#add" data-contact-id=<%= contact.id %>  data-profile-id=<%= params[:profile_id] %> class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900">
    <%= contact.decorate.display_name %>
  </li>
<% end %>