<% if @contacts.count > 0 %>
  <% @contacts.each do |contact| %>
    <a type="button" href="/<%= contact.account.id %>/contacts/<%= contact.id %>/abouts" target="_top" class="float-left w-full block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 cursor-pointer truncate ...">
      <li role="option"  @click="isShowing = false; document.getElementById('navbar').value='<%= contact.decorate.display_name %>'" class="" id="show">
        <%= contact.decorate.display_name %>
      </li>
    </a>
  <% end %>
<% else %>
  <div role="option" class="px-4 py-2 text-sm text-gray-500 unselectable" onmousedown="return false">No Record Found <input type="button" class="display-none" disabled="disabled"></div>
<% end %>
