<main class="pb-10 mx-auto max-w-7xl lg:py-12 lg:px-8 z-0">
  <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
    <%= render "shared/account_menu" %>
    <main class="max-w-3xl  pb-12 lg:col-span-6">
      <div id="activities_form">
        <%= render "form", life_event: @life_event %>
      </div>
      <div id="life_events">
        <%= render "life_events", { life_events: @life_events } %>
      </div>
    </main>
  </div>
</main>
