<div  class=" py-2 px-6  ">
  <p class="text-sm leading-5 text-gray-500  font-semibold">Last 3 months report:</p>
  <div id="" class=" ">
    <% (0..2).each do |m|  %>
      <%current= (Date.today-m.month).strftime("%B")%>
      <div id="" class="py-4 flex justify-center">
        <p id="" class="font-semibold text-sm"   ><%= current%> <%=Date.current.year%></p>
      </div>
      <% if ratings_by_date[current] %>
        <%ratings=ratings_by_date[current]%>
        <div class=" ">
        </div>
        <%@days = days_in_month(Date::MONTHNAMES.index(current)) %>
        <div class=" flex justify-center date-grid " >
          <%j=ratings.count%>
          <% (1..@days).each do |i|  %>
            <% (0..j).each do |index|  %>
              <% if ratings[index] %>
                <% if i.to_s== ratings[index].date.strftime(("%-d"))%>
                  <%if ratings[index].awesome?%>
                    <div class=" py-4"  style="background-color: #16a34a; width:40px; "></div>
                  <% elsif ratings[index].normal? %>
                    <div class=" py-4"  style="background-color: #6b7280; width:40px;"></div>
                  <% elsif ratings[index].poor? %>
                    <div class=" py-4"  style="background-color: #dc2626; width:40px;"></div>
                  <% end %>
                  <%break%>
                <% end %>
              <% else %>
                <div  class=" py-4" style="background-color: #F5F5F4; width:40px;"></div>
              <% end %>
              <%index+=1%>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
