  <%= form_with(model: user, id: dom_id(user), url: "password") do |form| %>
  <div>
    <div class="space-y-6">
      <%= render "shared/form_messages", resource: @form, message: local_assigns[:message] %>
      <%= render "shared/form_header", title: "Change Password", subtitle: "Please fill in details to change your password." %>
      <div>
        <label for="old_password" class="block  text-sm font-medium text-gray-700">
          Old Password
        </label>
        <div class="mt-1 flex w-full"  x-data="{ show_original: true }">
          <div class="mt-1 flex-auto w-full" >
            <input :type="show_original ? 'password' : 'text'" name="user[original_password]" id="user_original_password" class="form-text-field"  />
          </div>
          <i :class="show_original ? 'cursor-pointer fa-regular fa-eye-slash' : 'cursor-pointer fa fa-eye'"  @click="show_original = !show_original" :class="{'hidden': !show, 'block':show }" id="togglePassword" style="margin-left:-30px; margin-top:12px" ></i>
        </div>
      </div>
      <div>
        <label for="new_password" class="block  text-sm font-medium text-gray-700">
          New Password
        </label>
        <div class="mt-1 flex w-full"  x-data="{ show: true }">
          <div class="mt-1 flex-auto w-full" >
            <input :type="show ? 'password' : 'text'" name="user[new_password]" id="user_new_password" class="form-text-field"  />
          </div>
          <i :class="show ? 'cursor-pointer fa-regular fa-eye-slash' : 'cursor-pointer fa fa-eye'"  @click="show = !show" :class="{'hidden': !show, 'block':show }" id="togglePassword" style="margin-left:-30px; margin-top:12px" ></i>
        </div>
      </div>
      <div>
        <label for="new_password_confirmation" class="block  text-sm font-medium text-gray-700">
          New Password confirmation
        </label>
        <div class="mt-1 flex w-full"   x-data="{ show_confirmation: true }">
          <div class="mt-1 flex-auto w-full" >
            <input :type="show_confirmation? 'password' : 'text'" id="user_new_password_confirmation" name="user[new_password_confirmation]" class="form-text-field"  />
          </div>
          <i :class="show_confirmation ? 'cursor-pointer fa-regular fa-eye-slash' : 'cursor-pointer fa fa-eye'"  @click="show_confirmation = !show_confirmation"  id="togglePasswordConfirmation" style="margin-left:-30px; margin-top:12px" ></i>
        </div>
      </div>
      <div class="flex justify-end">
        <%= form.submit "Save", class: "btn-blue" %>
      </div>
    </div>
    <div>
    <% end %>
