<main class="contact_activity z-0 flex-1 overflow-x-auto focus:outline-none">
  <%= render partial: "contact/title", locals: { contact: @contact, event: @event, labels: @labels, call: @call, contact_labels: @contact_labels } %>
  <main class="">
    <div class="px-4 sm:px-6">
      <!-- Main 3 column grid -->
      <div class="grid items-start grid-cols-1 gap-2 lg:grid-cols-3 lg:gap-2">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 lg:col-span-2">
          <section aria-labelledby="participants_section">
            <h2 class="sr-only" id="section-1-title">About</h2>
            <div class="overflow-hidden bg-white">
              <div class="p-4 mt-2">
                <!-- Description list-->
                <!-- This example requires Tailwind CSS v2.0+ -->
                <% if !@about.nil? %>
                  <%= render "about", { contact: @contact, about: @about } %>
                <% end %>
              </div>
            </div>
          </section>
        </div>
        <div class="grid grid-cols-1 gap-4 lg:col-span-1 xl:border-l xl:border-gray-200">
          <section aria-labelledby="participants_section" >
            <h2 class="sr-only" id="section-1-title">Add Social Profile Links</h2>
            <div class="overflow-hidden bg-white">
              <div class="px-8">
                <div class="items-center flex">
                  <%= render partial: "contact/links/form", locals: { contact: @contact, link: @link }, cached: true %>
                </div>
                <div class="mt-1 items-center flex ">
                  <ul class="space-y-6" id="contact_links" >
                    <%= render partial: "contact/links/link", collection: @links, as: :social, cached: false %>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
</div>
</main>
