<% user = user.decorate %>
<div class="px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8" id="user-header">
  <div class="flex flex-wrap items-baseline -mt-2 -ml-2">
    <h1 class="text-3xl font-bold leading-tight text-gray-900">
      <%= user.display_name %>
    </h1>
   
    <div class="flex sm:mt-0 sm:ml-4">
    
    </div>
