<main class="relative z-0 flex-1 overflow-x-auto focus:outline-none">
  <%= render partial: "contact/title", locals: { contact: @contact,labels:@labels,event: @event, call: @call,contact_labels:@contact_labels } %>
  <main class="pb-8">
    <div class="">
      <!-- Main 3 column grid -->
      <div class="grid items-start grid-cols-1  lg:grid-cols-3 ">
        <!-- Left column -->
        <div class="grid grid-cols-1 lg:col-span-2" id="project_debts"  data-controller="infinite-scroll" >
          <section aria-labelledby="participants_section">
            <h2 class="sr-only" id="section-1-title">debts</h2>
            <div class="overflow-hidden bg-white" >
              <div class="">
                <table class="table">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="table-head ">
                        Title
                      </th>
                      <th scope="col" class="table-head">
                        Owed By
                      </th>
                      <th scope="col" class="table-head">
                        Amount
                      </th>
                      <th scope="col" class="table-head">
                        Due Date
                      </th>
                      <th scope="col" class="table-head">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody class="table-body" id="debts" data-infinite-scroll-target="entries">
                    <%= render partial: "debt", collection: @debts, as: :debt, cached: false %>
                  </tbody>
                </table>
              </div>
              <div class="flex justify-end mt-2 mb-6 mr-2 invisible" data-infinite-scroll-target="pagination">
                <%== render partial: "shared/paginator", locals: { pagy: @pagy } %>
              </div>
            </div>
          </section>
        </div>
        <!-- Right column -->
        <% if policy([@contact, @debt]).create? %>
          <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200">
            <section aria-labelledby="add-participant-section">
              <h2 class="sr-only" id="section-2-title">Add New debt</h2>
              <div class="overflow-hidden bg-white">
                <div class="px-4">
                  <%= render partial: "form", locals: { debt: @debt } %>
                </div>
              </div>
            </section>
          </div>
        <% end %>
      </div>
    </div>
  </main>
  <div class="pt-4 pl-16 pr-16">
  </div>
</main>
