<main class="relative z-0 flex-1 overflow-y-visible focus:outline-none">
  <%= render partial: "contact/title", locals: { contact: @contact } %>
  <main class="pb-8">
    <div class="">
      <!-- Main 3 column grid -->
      <div class="grid items-start grid-cols-1 lg:grid-cols-3 ">
        <!-- Left column -->
        <div class="grid grid-cols-1  lg:col-span-2"  data-controller="infinite-scroll">
          <section aria-labelledby="participants_section">
            <h2 class="sr-only" id="section-1-title">tasks</h2>
            <div class="overflow-hidden bg-white" >
              <div class="">
                <table class="table">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="table-head">
                        Reminder Date
                      </th>
                      <th scope="col" class="table-head ">
                        Remind After
                      </th>
                      <th scope="col" class="table-head w-full">
                        Title
                      </th>
                      <th scope="col" class="table-head">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody class="table-body "  id="reminders" data-infinite-scroll-target="entries">
                    <%= render partial: "reminder", collection: @reminders, as: :reminder, cached: true %>
                  </tbody>
                </table>
              </div>
              <div class="flex justify-end mt-2 mb-6 mr-2 invisible" data-infinite-scroll-target="pagination">
                <%== render partial: "shared/paginator", locals: { pagy: @pagy } %>
              </div>
            </div>
          </section>
        </div>
        <!-- Right column -->
        <% if policy([@contact, Reminder]).create? %>
          <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200">
            <section aria-labelledby="add-participant-section">
              <h2 class="sr-only" id="section-2-title">Add New Reminder</h2>
              <div class="overflow-hidden bg-white">
                <div class="px-4">
                  <%= render partial: "form", locals: { reminder: @reminder } %>
                </div>
              </div>
            </section>
          </div>
        <% end %>
      </div>
    </div>
  </main>
  <div class="pt-4 pl-16 pr-16">
  </div>
</main>
