<%= turbo_frame_tag "contact_form", target: "_top" do %>
<div id="edit">
  <%= render partial: "contacts/form", locals: { contact: @contact, contact_batches: @contact_batches, batches: @batches, title: "Edit Contact", subtitle: "Please update details of existing contact" } %>
</div>
<% end %>
