<%= turbo_frame_tag dom_id(@batch) do %>
  <%= tailwind_form_with(model: @batch, id: dom_id(@batch), url: account_batch_path(@batch)) do |form| %>
    <div class="mt-2 text-sm text-red-700">
      <% if local_assigns[:messages] && defined?(messages) && !messages.nil? %>
        <ul class="pl-1 space-y-1 pt-1">
          <% messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
        <div class="flex justify-end  ">
          <%= form.submit "Save", class: "btn-blue  " %>
        </div>
      </div>
    </li>
  <% end %>
<% end %>
