<main class="contact_activity z-0 flex-1 overflow-y-scroll focus:outline-none">
  <%= render partial: "contact/title", locals: { contact: @contact, event: @event } %>
  <main class="min-h-screen">
    <div class="px-4 sm:px-6">
      <!-- Main 3 column grid -->
      <div class="grid items-start grid-cols-1 gap-2 lg:grid-cols-3 lg:gap-2">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 lg:col-span-2">
          <section aria-labelledby="participants_section">
            <h2 class="sr-only" id="section-1-title">Activities</h2>
            <div class="overflow-hidden bg-white">
              <div class="p-4 mt-2">
                <!-- Description list-->
                <!-- This example requires Tailwind CSS v2.0+ -->
                <% if !@contact.abouts.nil? %>
                  <%= render "about", { contact: @contact, about: @contact.abouts } %>
                <% end %>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
</div>
</main>
