
 <%= form_with(model: batch, id: dom_id(batch), url: batches_path) do |form| %>
    <%= render "shared/form_messages", resource: batch, message: local_assigns[:message] %>
 <div class=" flex  ">
  <div class="flex-1 min-w-0 " >
   <label for="group" class="block  text-sm font-medium text-gray-700 pt-4   " >Add New Group</label>
  <div class=" flex  ">
 
                <div class="flex-1 "  >
               
                     <%= form.text_field :name,  autocomplete: "off", class: "form-text-field mt-1 " %>
               
                  </div>
                  <div class="flex justify-end">  
      <%= form.submit "Save", class: "btn-blue" %>
    </div>
                </div>
</div>
</div>
            <% end %>