<%= turbo_frame_tag dom_id(field) do %>
  <li class="flex py-4 border-b border-gray-200">
    <div class="flex items-center w-full ml-4">
      <p class="w-full ml-2 text-sm font-medium text-gray-900">
        <%= field.name.titleize %></p>
      <div class="flex justify-end space-x-2">
        <%= edit_button(edit_account_field_path(field)) %>
        <%= delete_button(account_field_path(field)) %>
      </div>
    </div>
  </li>
<% end %>
