<% contact = contact.decorate %>
<button type="button" data-action="click->dropdown#toggle click@window->dropdown#hide" class="inline-flex w-full justify-center gap-x-1.5 rounded  px-3 py-2 text-sm font-semibold  shadow-sm ring-1 ring-inset ring-gray-300 bg-gray-100 text-gray-800 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
  <%= contact.display_follow_up_after %>
  <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
  </svg>
</button>
