:root {
  --color-awesome: #C297B8;
  --color-normal: #9bc53d;
  --color-bad: #ffc107;
}
.calendar-legend {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-legend span {
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
}

.calendar-legend .color-0 {
  width: 14px;
  height: 14px;
  background-color: #1e6823;
}

.calendar-legend .color-1 {
  width: 14px;
  height: 14px;
  background-color: #2ea44f;
}

.calendar-legend .color-2 {
  width: 14px;
  height: 14px;
  background-color: #fbca04;
}

.calendar-legend .legend-text {
  margin-left: 4px;
  font-size: 12px;
  color: #586069;
}
.legend-awesome {
  background-color: var(--color-awesome);
}

.legend-normal {
  background-color: var(--color-normal);
}

.legend-bad {
  background-color: var(--color-bad);
}
