
<div id="contact_id">
     <input id="contact_id" name="relative[contact_id]" type="hidden" value="<%= relation.id  %>" >
     <label  class="block  text-sm font-medium text-gray-700">
     Select  <%= relation.decorate.display_name %>'s relation
     </label>
</div>


