<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <%= render partial: "profile/title", locals: { contact: @contact } %>
 <main class="min-h-screen">
    <div class="px-4 sm:px-6  " id="skills">
      <%= render partial: "search", locals: { relatives: @relatives }, cached: true %>
</div>
</main>
